body {
  max-width: 1200px;
	
}
header {
	width: 100%;
	border: 20px solid black;
	display: flex;
	flex-direction: column;
}
	.arriba {
		width: 100%;
		background-color: rgb(58, 62, 170);
		border-bottom: 5px solid black;
		display: flex;
		flex-direction: row;
	}
	.a {
		
		background-color: rgb(82, 31, 31);
		width: 20%;
		margin: 10px;
	}
	.b {
		background-color: rgb(82, 31, 31);
		width: 60%;
		margin: 10px;
	}
	.c {
		background-color: rgb(82, 31, 31);
		width: 20%;
		margin: 10px;
	}


	.abajo {
		width: 100%;
		background-color: rgb(244, 171, 25);
		border-top: 5px solid black;
		display: flex;
		flex-direction: row;
		
	}
	.unico {
		background-color: rgb(228, 200, 78);
		width: 100%;
		margin: 10px;
		
	}

.midblock {
	height: 300px;
	width: 100%;
	background-color: rgb(153, 102, 102);
	border: 20px solid black;
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	
}
	.izquierda {
		/*height: 100%;*/
		width: 50%;
		background-color: rgb(80, 82, 143);
		border-right: 5px solid black;
		display: grid;
		
	}
		.grid1 {
			width: 50%;
			background-color: rgb(79, 101, 245);
			margin: 10px;
		}
		.grid2 {
			width: 50%;
			background-color: rgb(79, 101, 245);
			margin: 10px;
		}
		.grid3 {
			width: 50%;
			background-color: rgb(79, 101, 245);
			margin: 10px;
		}
		.grid4 {
			width: 50%;
			background-color: rgb(79, 101, 245);
			margin: 10px;
		}
		.grid5 {
			width: 100%;
			background-color: rgb(117, 207, 240);
			margin: auto;
		}
	.derecha {
		height: 100%;
		width: 50%;
		background-color: rgb(234, 99, 99);
		border-left: 5px solid black;
	}

	footer {
		height: 50px;
		width: 100%;
		background-color: rgb(144, 46, 46);
		border: 20px solid black;
		margin-top: 20px;
	}